body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    user-select: none;
}

/*sections*/

header {
    background-color: #6943FF;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-weight: 800;
    font-size: 28px;
    margin: 0;
    text-align: center;
    padding: 33px;
}

.input-el {
    width: 117px;
    height: 83px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
    font-size: 58px;
    background: #6943FF;
    border: 2px solid #B295FF;
    outline: none;
    border-radius: 5px;
    font-weight: 800;
    margin: 0px auto 25px auto;
}

::placeholder {
    color: #FFFFFF
}

.convert-btn {
    width: 117px;
    padding: 13px;
    box-shadow: 0 1 2px;
    background-color: white;
    color: #3D3D3D;
    font-family: 'Inter', sans-serif;
    border: none;
    margin: 0 auto 25px auto;
    border-radius: 5px;
}
/* 
.convert-btn:hover {
    background-color: #B295FF;
} */

.convert-btn:active {
    background-color: #B295FF;
}

main {
    background-color: #1F2937;
    margin-top: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
}

section {
    padding: 42px;
    margin-top: 40px;
    background-color: #273549;
    text-align: center;
}

.unit-txt {
    color: #CCC1FF;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.last-section {
    margin-bottom: 40px;
}

.result {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    size: 14px;
    color: #FFFFFF;
}